<!-- Default home page -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">

    <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="https://assets.zoetryresorts.com/crop-1800x720-max/agua/activities/slideshow/70AE02.jpg" alt="Uno" width="1800" height="820">
    </div>

    <div class="item">
      <img src="http://www.garberwirt.com/fileadmin/_processed_/csm_skifahren03_5d6d22f1c5.jpg" alt="Dos" width="1800" height="820">
    </div>

    <div class="item">
      <img src="http://www.tirolerhof-tux.at/fileadmin/_processed_/csm_gletscher-sommer_f23ec7e27d.jpg" alt="Tres" width="1800" height="820">
    </div>

    <div class="item">
      <img src="http://www.scubadiveasia.com/blog/wp-content/uploads/2013/12/BlogSDA-slide2.jpg" alt="Flower" width="1800" height="820">
    </div>


    <div class="mainPitch">

        <a href="/"><img src="images/logo.png"></a>
        <p>
          Instructions about this web app
        </p>
        <a href="/auth/google"><img src="/images/btn_google_signin_light_normal_web.png" alt="Google Signin" width="200"/></a>


    </div>
  </div>
</div>

<!-- NAVBAR -->

<nav class="navbar navbar-default" data-spy="affix" data-offset-top="566">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <ul class="nav navbar-nav">
       <li><a href="/about">About</a></li>
     </ul>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <form method="post" action="/destinations" class="navbar-form form-inline">
        <div class="form-group">
          <input type="text" name="origin_one" class="form-control air" id="term" placeholder="City name or airport code" />

          <input type="text" name="origin_two" class="form-control air" id="term" placeholder="City name or airport code" />

          <input type="text" id="from" name="from" class="form-control" placeholder="Departure Date"/>

          <input type="text" id="to" name="to" class="form-control" placeholder="Return Date"/>

        </div>
        <button type="submit" class="btn btn-default btn-lg">Submit</button>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="bounce"><i class="fa fa-angle-double-down"></i></div>

<p class="subtitle fancy"><span>Top Places</span></p>


<div class="container-flights">
  <ul id="rig">
    <% searchresults.destinations.forEach(function(topDestination) { %>
      <li>
        <a class="rig-cell" href="#">
          <% var photoRef = topDestination.googlePhotoReference[1].photo_reference %>
          <img class="rig-img" src="https://maps.googleapis.com/maps/api/place/photo?maxheight=400&photoreference=<%=photoRef%>&key=<%=process.env.GOOGLE_KEY%>" alt="">
          <span class="rig-overlay"></span>
          <span class="rig-text">
            <%= topDestination.skyscannerInfo.DestinationInfo.CityName %>, <%= topDestination.skyscannerInfo.DestinationInfo.CountryName%>
            <br> $<%= topDestination.skyscannerInfo.skyscannerQuote.MinPrice %>
          </span>
        </a>
      </li>
    <%})%>
  </ul>
</div>
