<nav class="navbar navbar-default" data-spy="affix" data-offset-top="557">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <form method="post" action="/destinations" class="navbar-form form-inline">
        <div class="form-group">
          <input type="text" name="origin_one" class="form-control air" id="term" placeholder="City name or airport code" />

          <input type="text" name="origin_two" class="form-control air" id="term" placeholder="City name or airport code" />

          <input type="text" id="from" name="from" class="form-control" placeholder="Departure Date"/>

          <input type="text" id="to" name="to" class="form-control" placeholder="Return Date"/>

        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
  <div class="container-flights">

  <% if (searchresults.destinations[0].googlePhotoReference !== undefined) {%>
        <% var theReference = searchresults.destinations[0].googlePhotoReference[0]['photo_reference']%>
        <div class="main-destination-box" style="background-image: url('https://maps.googleapis.com/maps/api/place/photo?maxwidth=800&photoreference=<%=theReference%>&key=<%=process.env.GOOGLE_KEY%>')">
  <% } else if (searchresults.destinations[0].googlePhotoReference === undefined) {%>
        <div class="main-destination-box" style="background-image: url('http://www.muxlowsurveying.com/wp-content/uploads/2015/06/Detroit-Metro-Airport-min.jpg')">
  <% } %>

    <div class="main-destination-info">
      <div class="main-destination-header">

      <h3><%= searchresults.destinations[0].city %> </h3>
      <h4><%= searchresults.destinations[0].country %></h4>

      </div>
      <div class="main-destination-copy">
      <p>
        <span class="glyphicon glyphicon-plane"></span> From: <%=searchresults['originOne']['airportCode']%> <span class="glyphicon glyphicon-usd"></span> <%= searchresults.destinations[0].priceFromOriginOne %>
        <br>
        <span class="glyphicon glyphicon-plane"></span> From: <%=searchresults['originTwo']['airportCode']%> <span class="glyphicon glyphicon-usd"></span> <%= searchresults.destinations[0].priceFromOriginTwo  %>
        <br>
        <br>
        <strong> TOTAL:  <%= searchresults.destinations[0].sumPrices %></strong>
      </p>
      <a href="flights/<%=searchresults['originOne']['airportCode']%>/<%=searchresults['originTwo']['airportCode']%>/<%= searchresults.destinations[0].airportCode %>/<%=depdate%>/<%=retdate%>" type="button" class="btn-flight" >See more flights to this city</a>

    </div> <!-- main-destination-copy -->

  </div> <!-- main-destination-info -->
  </div> <!-- main-destination-box -->
  </div> <!-- main-destination-box -->

  <div class="container-flights">

  <% for (var i = 1; i < searchresults.destinations.length; i++) { %>

    <% if (searchresults.destinations[i].googlePhotoReference !== undefined) {%>
      <% var theReference = searchresults.destinations[i].googlePhotoReference[0]['photo_reference']%>
      <div class="destination-box" style="background-image: url('https://maps.googleapis.com/maps/api/place/photo?maxwidth=1200&photoreference=<%=theReference%>&key=<%=process.env.GOOGLE_KEY%>')"; "background-size: 300px 100px, cover";>
    <% } else{  %>
      <div class="destination-box"
    <% } %>

    <%= i === searchresults.destinations.length - 1 && searchresults.destinations.length % 2 === 0 %>

    <% if (i === searchresults.destinations.length - 1 && searchresults.destinations.length % 2 === 0 ) {%>
        <script type="text/javascript">
          $(".destination-box").addClass("big");
        </script>

    <% } %>



    <div class="destination-info">
        <div class="destination-header">

        <a href="flights/<%=searchresults['originOne']['airportCode']%>/<%=searchresults['originTwo']['airportCode']%>/<%= searchresults.destinations[i].airportCode %>/<%=depdate%>/<%=retdate%>" type="button" class="btn-flights" >See more flights to this city</a>
        <h3><%= searchresults.destinations[i].city %></h3>
        <h4><%= searchresults.destinations[i].country %></h4>
        </div>
        <div class="destination-copy">
        <p>
          &#9992; <%=searchresults['originOne']['airportCode']%> <span class="glyphicon glyphicon-usd"></span> <%= searchresults.destinations[i].priceFromOriginOne %>
          <br>
          &#9992; <%=searchresults['originTwo']['airportCode']%> <span class="glyphicon glyphicon-usd"></span> <%= searchresults.destinations[i].priceFromOriginTwo  %>
          <br>
          <br>
          <div class="total-flights">

          <p> TOTAL:
            <br> <%= searchresults.destinations[i].sumPrices %></p>
        </div>
      </div> <!-- destination-copy -->
      </div> <!-- destination-info -->
    </div> <!-- destination-box -->
  <% } %>
  </div> <!-- container-flights -->
</div> <!-- container -->
