<div class="container">
<div class="row">
  <% searchresults.destinations.forEach(function(destination) { %>
  <div class="col-sm-6 col-md-4">
    <a href="destinations/<%=searchresults['originOne']['airportCode']%>/<%=searchresults['originTwo']['airportCode']%>/<%= destination.airportCode %>/<%=depdate%>/<%=retdate%>">
    <div class="thumbnail">
      <% if (destination.googlePhotoReference !== undefined) {%>
        <% var theReference = destination.googlePhotoReference[0]['photo_reference']%>
        <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=<%=theReference%>&key=<%=process.env.GOOGLE_KEY%>" alt="<%= destination.city %>">
      <% } %>

      <div class="caption">

        <h3><a href="destinations/<%=searchresults['originOne']['airportCode']%>/<%=searchresults['originTwo']['airportCode']%>/<%= destination.airportCode %>/<%=depdate%>/<%=retdate%>"><%= destination.city %> </a></h3>
        <h4><%= destination.country %></h4>
        <p>
          From: <%=searchresults['originOne']['airportName']%> $$ <%= destination.priceFromOriginOne %>
          <br>
          From: <%=searchresults['originTwo']['airportName']%> $$ <%= destination.priceFromOriginTwo  %>
          <br>
          <br>
          <strong> TOTAL:  <%= destination.sumPrices %></strong>
          <p> <a href="destinations/<%=searchresults['originOne']['airportCode']%>/<%=searchresults['originTwo']['airportCode']%>/<%= destination.airportCode %>/<%=depdate%>/<%=retdate%>" class="btn btn-default" role="button">See more flights to this city</a></p>
        </p>
      </div>
    </div>
    </a>
  </div>
  <% }); %>
</div>
</div>
