<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/about">About</a></li>
      </ul>

      <form method="post" action="/destinations" class="navbar-form form-inline">
        <div class="form-group">
          <label for="origin_one">Origin One</label>
          <input type="text" name="origin_one" class="form-control air" id="term" placeholder="City name or airport code" />

          <label for="origin_one">Origin Two</label>
          <input type="text" name="origin_two" class="form-control air" id="term" placeholder="City name or airport code" />

          <label for="origin_one">Dates</label>
          <input type="text" id="from" name="from" class="form-control" placeholder="Departure Date"/>
          <input type="text" id="to" name="to" class="form-control" placeholder="Return Date"/>

        </div>
        <button type="submit" class="btn btn-default btn-lg">Submit</button>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
  <%  if (user !== undefined) {%>
    <h1 class="tecnologies"><%=user.displayName.split(' ')[0]%> , <%=destLoca.city%> is a great choice!</h1>
  <% } else if (user === undefined) {%>
    <h1 class="tecnologies"> <%=destLoca.city%> is great choice!</h1>
  <%}%>

<div class="row">
  <div class="col-md-6">
    <h2 class="sub">Flights from <%= originOne %></h2>
    <% searchresults[0].forEach(function(flight) { %>
      <div class="panel panel-success">
        <div class="panel-body">
          <div class="tinerarie-box">
            <div class="tinerarie-row">

              <div class="tinerarie">
                <h3><%= originOne %></h3>
                <p>
                  <span class="glyphicon glyphicon-time"></span>
                  <%=flight.OutboundLegInfo.Departure.slice(11, 16)%>
                </p>
              </div>

              <div class="arrow">
                <span class="glyphicon glyphicon-arrow-right"></span>
              </div>

              <div class="tinerarie tinerarie-right">
                 <h3><%= destination %> </h3>
                 <p>
                  <span class="glyphicon glyphicon-time"></span>
                  <%=flight.OutboundLegInfo.Arrival.slice(11, 16)%>
                </p>
              </div>
              <div class="tinerarie itinerary-stops">
                <p>
                  <%=flight.OutboundLegInfo.Stops%>
                  <br>
                  <% flight.OutboundLegInfo.FlightsInfo.forEach(function(flightInfo) { %>
                    <strong><%= flightInfo.AirlineCode %></strong>
                  <% }); %>
                </p>
              </div>
            </div>

            <div class="tinerarie-row">
              <div class="tinerarie">
                <h3><%= destination %></h3>
                <p><span class="glyphicon glyphicon-time">
                  </span><%=flight.InboundLegInfo.Departure.slice(11, 16)%> &emsp;
                </p>
              </div>
              <div class="arrow">
                <span class="glyphicon glyphicon-arrow-right"></span>
              </div>
              <div class="tinerarie tinerarie-right">
                <h3><%= originOne %></h3>
                <p><span class="glyphicon glyphicon-time">
                  </span><%=flight.InboundLegInfo.Arrival.slice(11, 16)%>
                </p>
              </div>
              <div class="tinerarie itinerary-stops">
                <%=flight.InboundLegInfo.Stops%>
                <br>
                <% flight.InboundLegInfo.FlightsInfo.forEach(function(flightInfo) { %>
                  <%= flightInfo.AirlineCode %>
                <% }); %>
              </div>

            </div> <!-- row-->
          </div><!-- box-->
          <div class="price"><p>$<%= flight.Price.Amount%></p></div>

          <% if (flight.Price.superLink !== undefined) { %>
            <a href="<%= flight.Price.superLink%>">
              <div class="booking">
                <p> BOOK THIS!!!</p>
              </div>
            </a>
          <% } else {%>
            <div class="booking">
              <p>Not booking available </p>
            </div>
          <% } %>

        </div> <!-- panel-body -->
      </div> <!-- panel panel-success -->
    <% }); %>
  </div>

  <div class="col-sm-6">
    <h2 class="sub">Flights from <%= originTwo %></h2>
    <% searchresults[1].forEach(function(flight) { %>
      <div class="panel panel-success">
        <div class="panel-body">
          <div class="tinerarie-box">
            <div class="tinerarie-row">

              <div class="tinerarie">
                <h3><%= originTwo %></h3>
                <p><span class="glyphicon glyphicon-time"></span>
                  <%=flight.OutboundLegInfo.Departure.slice(11, 16)%>
                </p>
              </div>

              <div class="arrow">
                <span class="glyphicon glyphicon-arrow-right"></span>
              </div>

              <div class="tinerarie tinerarie-right">
                <h3><%= destination %> </h3>
                <p><span class="glyphicon glyphicon-time"></span>
                  <%=flight.OutboundLegInfo.Arrival.slice(11, 16)%>
                </p>
              </div>
              <div class="tinerarie itinerary-stops">
                <p>
                  <%=flight.OutboundLegInfo.Stops%>
                  <br>
                  <% flight.OutboundLegInfo.FlightsInfo.forEach(function(flightInfo) { %>
                    <strong><%= flightInfo.AirlineCode %></strong>
                  <% }); %>
                </p>
              </div>
            </div>

            <div class="tinerarie-row">
              <div class="tinerarie">
                <h3><%= destination %></h3>
                  <p><span class="glyphicon glyphicon-time">
                  </span><%=flight.InboundLegInfo.Departure.slice(11, 16)%> &emsp;
                </p>
              </div>
              <div class="arrow">
                <span class="glyphicon glyphicon-arrow-right"></span>
              </div>
              <div class="tinerarie tinerarie-right">
                <h3><%= originTwo %></h3>
                <p><span class="glyphicon glyphicon-time">
                  </span><%=flight.InboundLegInfo.Arrival.slice(11, 16)%>
                </p>
              </div>
              <div class="tinerarie itinerary-stops">
                <%=flight.InboundLegInfo.Stops%>
                <br>
                <% flight.InboundLegInfo.FlightsInfo.forEach(function(flightInfo) { %>
                  <%= flightInfo.AirlineCode %>
                <% }); %>
              </div>
            </div> <!-- row-->
          </div><!-- box-->
          <div class="price"><p>$<%= flight.Price.Amount%></p></div>

          <% if (flight.Price.superLink !== undefined) { %>
            <a href="<%= flight.Price.superLink%>">
              <div class="booking">
                <p> BOOK THIS!!!</p>
              </div>
            </a>
          <% } else {%>
            <div class="booking">
              <p>Not booking available </p>
            </div>
          <% } %>


        </div> <!-- panel panel-success -->
      </div> <!-- panel-body -->
    <% }); %>
  </div>
</div>
</div>
