<div class="mainPitch">
    <a href="/"><img src="images/logo.png"></a>

    <form method="post" action="/destinations" class = "form-inblock">
      <div class="form-group">
        <label for="origin_one">Origin</label>
        <input type="text" name="origin_one" class="form-control air" id="term" placeholder="City name or airport code" />

        <label for="origin_two">Origin</label>
        <input type="text" name="origin_two" class="form-control air" id="term" placeholder="City name or airport code" />

        <label for="from">Departure Date</label>
        <input type="text" id="from" name="from" class="form-control"/>

        <label for="to">Return Date</label>
        <input type="text" id="to" name="to" class="form-control"/>
      </div>

      <button type="submit" class="btn btn-primary">Find Destinations</button>
    </form>
</div>

<div class="container">
<div class="row">
  <div class="col-md-6">
    <% searchresults[0].forEach(function(flight) { %>
      <div class="panel panel-success">
        <div class="panel-body">
          <div class="price"><%= flight.Price.Amount%></div>
          <p>
             <%= originOne %>
             <span class="glyphicon glyphicon-time"></span>
             <%=flight.OutboundLegInfo.Departure.slice(11, 16)%>
             <span class="glyphicon glyphicon-arrow-right"></span>
             <%= destination %>
             <span class="glyphicon glyphicon-time"></span>
             <%=flight.OutboundLegInfo.Arrival.slice(11, 16)%>  /  <%=flight.OutboundLegInfo.Stops%>
           </p>

           <% flight.OutboundLegInfo.FlightsInfo.forEach(function(flightInfo) { %>
             <%= flightInfo.AirlineCode %>

             <% }); %>
           <p>
             <%= destination %>
             <span class="glyphicon glyphicon-time">
             </span><%=flight.InboundLegInfo.Departure.slice(11, 16)%>
             <span class="glyphicon glyphicon-arrow-right">
             </span> <%= originOne %>
             <span class="glyphicon glyphicon-time">
             </span><%=flight.InboundLegInfo.Arrival.slice(11, 16)%>  /  <%=flight.InboundLegInfo.Stops%>
           </p>

            <% flight.InboundLegInfo.FlightsInfo.forEach(function(flightInfo) { %>
              <%= flightInfo.AirlineCode %>

            <% }); %>

            <% if (flight.Price.superLink !== undefined) { %>
              <a href="<%= flight.Price.superLink%>">BOOK!!!</a>
            <% } %>

        </div>
      </div>
    <% }); %>

  </div>

  <div class="col-sm-6">
    <% searchresults[1].forEach(function(flight) { %>
      <div class="panel panel-success">
        <div class="panel-body">
          <div class="price"><%= flight.Price.Amount%></div>
          <p>
             <%= originOne %>
             <span class="glyphicon glyphicon-time"></span>
             <%=flight.OutboundLegInfo.Departure.slice(11, 16)%>
             <span class="glyphicon glyphicon-arrow-right"></span>
             <%= destination %>
             <span class="glyphicon glyphicon-time"></span>
             <%=flight.OutboundLegInfo.Arrival.slice(11, 16)%>  /  <%=flight.OutboundLegInfo.Stops%>
           </p>

           <% flight.OutboundLegInfo.FlightsInfo.forEach(function(flightInfo) { %>
             <%= flightInfo.AirlineCode %>

             <% }); %>
           <p>
             <%= destination %>
             <span class="glyphicon glyphicon-time">
             </span><%=flight.InboundLegInfo.Departure.slice(11, 16)%>
             <span class="glyphicon glyphicon-arrow-right">
             </span> <%= originOne %>
             <span class="glyphicon glyphicon-time">
             </span><%=flight.InboundLegInfo.Arrival.slice(11, 16)%>  /  <%=flight.InboundLegInfo.Stops%>
           </p>

            <% flight.InboundLegInfo.FlightsInfo.forEach(function(flightInfo) { %>
              <%= flightInfo.AirlineCode %>

            <% }); %>

            <% if (flight.Price.superLink !== undefined) { %>
              <a href="<%= flight.Price.superLink%>">BOOK!!!</a>
            <% } %>

        </div>
      </div>
    <% }); %>
  </div>
</div>
</div>
